@model GroceryList.DAL.Models.Product

<table class="table  table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Date of creation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Quantity</td>
            <td>@Model.unit</td>
            <td>@Model.DateOfCreate</td>
        </tr>
    </tbody>
</table>
<div>
    @Html.ActionLink("Come back", "ListOfProduct", "Product", new { @class = "btn btn-primary" })
</div>

